ffmpeg/
imagemagick/
.idea/
imgs/
Run.bat
src/__pycache__/
src/interface/__pycache__
src/interface/design/__pycache__
src/interface/menus/__pycache__
src/interface/controls/__pycache__
.gitignore
planning/
